<?xml version="1.0" encoding="utf-8" ?>
<!--web.config 配置 如下-->
<!--<add key="ConfigPortalPath" value="~/_layouts/15/EnvisionPortal/Configs/EnvisionPortal.config" />-->
<EnvisionPortalConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <EnvisionPortalWebUrl>http://escnshspfront02</EnvisionPortalWebUrl>
  <EnvisionPortalDomain>win-l5lrk4o9s4a</EnvisionPortalDomain>
  <EnvsionAnnouncement>EnvsionAnnouncement</EnvsionAnnouncement>
  <EnvisionCompanyInfo>EnvisionCompanyInfo</EnvisionCompanyInfo>
  <EnvisionLinksCategory>EnvisionLinksCategory</EnvisionLinksCategory>
  <EnvisionDepartments>EnvisionDepartments</EnvisionDepartments>
  <EnvisionKnowledgeInfo>EnvisionKnowledgeInfo</EnvisionKnowledgeInfo>
  <EnvisionSystemLink>EnvisionSystemLink</EnvisionSystemLink>
  </EnvisionPortalConfig>