<?xml version="1.0" encoding="utf-8" ?>
<EnvisionSiteConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WebUrl>http://escnshspapp03/</WebUrl>
  <DocLibrarySettings>DocLibrarySettings</DocLibrarySettings>
  <ListTemplateCatalog>列表模板库</ListTemplateCatalog>
</EnvisionSiteConfig>