<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ConnStr" connectionString="Data Source=INFOBASE02; Initial Catalog=SPSEnvision;Persist Security Info=True; User ID=sa;Password=Sa123456"
      providerName="System.Data.SqlClient" />
    <add name="SPConnStr" connectionString="Data Source=INFOBASE02; Initial Catalog=WSS_Content;Persist Security Info=True; User ID=sa;Password=Sa123456"
      providerName="System.Data.SqlClient" />
    <add name="Envision.SPS.DataAccess.Properties.Settings.SPSEnvisionConnectionString"
      connectionString="Data Source=INFOBASE02;Initial Catalog=SPSEnvision;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Envision.SPS.DataAccess.Properties.Settings.WSS_ContentConnectionString"
      connectionString="Data Source=INFOBASE02;Initial Catalog=WSS_Content;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Envision.SPS.DataAccess.Properties.Settings.SPSEnvisionConnectionString1"
      connectionString="Data Source=INFOBASE02;Initial Catalog=SPSEnvision;Persist Security Info=True;User ID=sa;Password=Sa123456"
      providerName="System.Data.SqlClient" />
    <add name="Envision.SPS.DataAccess.Properties.Settings.SPSEnvisionConnectionString2"
      connectionString="Data Source=INFOBASE02;Initial Catalog=SPSEnvision;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>